﻿body {
    margin: 0;
}

/*Navigation Bar*/

nav {
margin-top: -50px;
z-index: 2;
display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.00);
    top: 0;
    width: 100%;
    height: 100px;
}

li.nav {
    float: left;
    margin-left: 100px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

i {
color: lightskyblue;
}

i:hover {
color: lightpink;
}

button.nav {
border: 0;
background-color: rgba(255, 255, 255, 0.00);
}

/*Navigatin Bar*/

/*Carousel*/
.caro {
    margin-top: -50px;
}
/*Carousel*/


/*Cartelera*/
.section-cartelera {
width: 90%;
max-width: 1400px;
margin: auto;
margin-top: 70px;
}

div.cartelera-container {
    display: flex;
    justify-content: space-between;
    border-radius: 100%;
}

.cartelera {
    width: 30%;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}

.images-cartelera {
    width: 100%;
    height: 280px;
    transition: all 0.5s;
    border-radius: 100%;
}

.cartelera-text {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 100%;
    transform: translateY(100%);
    transition: all 0.5s ease-out;
    width: 320px;
    height: 180px;
}

    .cartelera-text p {
        text-align: justify;
    }

.cartelera:hover .cartelera-text {
    transform: translateY(0%);
}

.cartelera:hover .images-cartelera {
transform: scale(1.15);
}
/*Cartelera*/



/*Modal-Login*/
.modal {
display: none;
position: fixed;
z-index: 1;
padding-top: 100%;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    margin-top: -90%;
    width: 350px;
    color: black;
    border: 0px;
    height: 400px;

}

.close {
color: #aaaaaa;
float: right;
font-size: 20px;
font-weight: bold;
}

    .close:hover .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }

/*Modal-Login*/





/*LOGIN*/
.login-input {
    border: 0px;
    border-bottom: 2px solid #5ca4c8;
    outline: none;
    color: rgb(0,0,0);
    font-family: 'Bree Serif', serif;
    margin-top: 45px;
    display: block;
}


div.iconcontainer {
    margin-left: 39%;
}

.login-button {
    width: 70px;
    height: 70px;
    background: #5ca4c8;
    position: absolute;
    outline: none;
    border: 0px;
    border-radius: 50%;
    left: 41%;
    top:300px;
    color: white;
    transition: all 0.5s;
}

    .login-button:hover {
    transform: scale(1.15); 
    }

/*LOGIN*/


/*FOOTER*/
.socialMedia {
    display: flex;
    float: left;
    margin-left: 1000px;
    margin-top: -200px;
}

.icosocial {
margin-left: 40px;
}

.h4foo {
    margin-top: 70px;
    position: absolute;
    margin-left: 1110px;
}

/*/FOOTER*/



/*BOTONES TABLAS*/
.boton-tabla {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

    .button4:hover {
        background-color: #e7e7e7;
    }

/*/BOTONES TABLAS*/