﻿<!DOCTYPE html>
<html >
<head>
    <link rel=StyleSheet href="~/Content/SStyle.css" type="text/css" media=screen>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        @model IEnumerable<Tickets.Models.Evento>
<!--CAROUSEL-->
        <div class="caro">
            <div class="container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 1348px; margin: auto; height: 100%; margin-left: -120px;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="../images/concierto1-carousel.jpg" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="../images/concierto2-carousel.png" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="../images/concierto3-carousel.jpg" style="width:100%;">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
          </div>
<!--CAROUSEL-->
        


<!--CARTELERA-->
    <section class="section-cartelera">
        <div class="cartelera-container">
        <section class="cartelera">
            <img src="~/Images/banner1.jpg" alt="" class="images-cartelera" >
          
            {
            <section class="cartelera-text">
                <h2></h2>
                <p>
                 
                </p>
            </section>
            }
        </section>

        <section class="cartelera">
            <img src="/Images/banner2.jpg" alt="" class="images-cartelera">
            <section class="cartelera-text">
                <h2>Lorem Ipsum</h2>
                <p>
                    ksdlskdjflskdjflksjflskdjfsldkfjslkdfjsldkfjlskfjsldfkjsdkjflskdfjlsdkjfsldkfj
                </p>
            </section>
        </section>
            
        <section class="cartelera">
            <img src="~/Images/banner3.jpg" alt="" class="images-cartelera">
            <section class="cartelera-text">
                <h2>Lorem Ipsum</h2>
                <p>
                    ksdlskdjflskdjflksjflskdjfsldkfjslkdfjsldkfjlskfjsldfkjsdkjflskdfjlsdkjfsldkfj
                </p>
            </section>
        </section>

      </div>
    </section>

        <section class="section-cartelera">
            <div class="cartelera-container">
                <section class="cartelera">
                    <img src="~/Images/banner1.jpg" alt="" class="images-cartelera">
                    <section class="cartelera-text">
                        <h2>Lorem Ipsum</h2>
                        <p>
                            ksdlskdjflskdjflksjflskdjfsldkfjslkdfjsldkfjlskfjsldfkjsdkjflskdfjlsdkjfsldkfj
                        </p>
                    </section>
                </section>

                <section class="cartelera">
                    <img src="/Images/banner2.jpg" alt="" class="images-cartelera">
                    <section class="cartelera-text">
                        <h2>Lorem Ipsum</h2>
                        <p>
                            ksdlskdjflskdjflksjflskdjfsldkfjslkdfjsldkfjlskfjsldfkjsdkjflskdfjlsdkjfsldkfj
                        </p>
                    </section>
                </section>

                <section class="cartelera">
                    <img src="~/Images/banner3.jpg" alt="" class="images-cartelera">
                    <section class="cartelera-text">
                        <h2>Lorem Ipsum</h2>
                        <p>
                            ksdlskdjflskdjflksjflskdjfsldkfjslkdfjsldkfjlskfjsldfkjsdkjflskdfjlsdkjfsldkfj
                        </p>
                    </section>
                </section>

            </div>
        </section>

        <section class="section-cartelera">
            <div class="cartelera-container">
                <section class="cartelera">
                    <img src="~/Images/banner1.jpg" alt="" class="images-cartelera">
                    <section class="cartelera-text">
                        <h2>Lorem Ipsum</h2>
                        <p>
                            ksdlskdjflskdjflksjflskdjfsldkfjslkdfjsldkfjlskfjsldfkjsdkjflskdfjlsdkjfsldkfj
                        </p>
                    </section>
                </section>

                <section class="cartelera">
                    <img src="/Images/banner2.jpg" alt="" class="images-cartelera">
                    <section class="cartelera-text">
                        <h2>Lorem Ipsum</h2>
                        <p>
                            ksdlskdjflskdjflksjflskdjfsldkfjslkdfjsldkfjlskfjsldfkjsdkjflskdfjlsdkjfsldkfj
                        </p>
                    </section>
                </section>

                <section class="cartelera">
                    <img src="~/Images/banner3.jpg" alt="" class="images-cartelera">
                    <section class="cartelera-text">
                        <h2>Lorem Ipsum</h2>
                        <p>
                            ksdlskdjflskdjflksjflskdjfsldkfjslkdfjsldkfjlskfjsldfkjsdkjflskdfjlsdkjfsldkfj
                        </p>
                    </section>
                </section>

            </div>
        </section>


<!--CARTELERA-->





        



           




</body>

</html>
