﻿@model IEnumerable<Tickets.Models.Boleto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.evento.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.evento.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idBoleto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idBoleto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idBoleto })
        </td>
    </tr>
}

</table>
