﻿@model IEnumerable<Tickets.Models.Evento>

@{
    ViewBag.Title = "Index";
}

<h2 style="font-family: 'Baloo', cursive; font-size: 5em; text-align: center;">Eventos</h2>

<p>
    @Html.ActionLink("Agregar Evento", "Create")
</p>
<table class="table" style="font-family: 'Baloo', cursive;">
    <tr style="font-family: 'Baloo', cursive;">
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lugarEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cupoEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaHoraEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTipoEventos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lugarEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cupoEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaHoraEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoEventos)
        </td>
        <td>
            <div>
                <button style="display: block; text-align: center;" class="boton-tabla">
                    @Html.ActionLink("Editar", "Edit", new { id = item.idEvento })
                </button>
                <button style="display: block; text-align: center;" class="boton-tabla">
                    @Html.ActionLink("Detalles", "Details", new { id = item.idEvento })
                </button>
                <button style="display: block; text-align: center;" class="boton-tabla">
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idEvento })
                </button>
            </div>
        </td>
    </tr>
}

</table>
