﻿@model Tickets.Models.Factura

@{
    ViewBag.Title = "Details";
}

<h2 style="font-family: 'Baloo', cursive; font-size: 5em; text-align: center;">Factura</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.boleto.idBoleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boleto.idBoleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
