﻿@model IEnumerable<Tickets.Models.Factura>

@{
    ViewBag.Title = "Factura";
}

<h2 style="font-family: 'Baloo', cursive; font-size: 5em; text-align: center;">Facturas</h2>

<p>
    @Html.ActionLink(".", "Create")
</p>
<table class="table">
    <tr>
        <th style="font-family: 'Baloo', cursive;">
            @Html.DisplayNameFor(model => model.boleto.idBoleto)
        </th>
        <th style="font-family: 'Baloo', cursive;">
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.boleto.idBoleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idFactura }) |
            @Html.ActionLink("Details", "Details", new { id=item.idFactura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idFactura })
        </td>
    </tr>
}

</table>
