﻿<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel=StyleSheet href="~/Content/SStyle.css" type="text/css" media=screen>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body style="background: rgba(216, 228, 233, 0.89);">
    
    <!--Nav-->

    <header style="position: fixed; z-index:100;">
        <nav>
            <ul>
                <li class="nav"><a href="/UsuariosView"><i class="fa fa-address-card fa-5x" aria-hidden="true"></i></a></li>
                <li class="nav"><a href="/UsuariosView/Edit/2"> <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i> </a></li>
                <li class="nav"><a href="/FacturasView"> <i class="fa fa-money fa-5x" aria-hidden="true"></i> </a></li>
                <li class="nav"><a href="/EventosView"> <i class="fa fa-calendar fa-5x" aria-hidden="true"></i> </a></li>
                <li class="nav"><a href="/Home/Index"><i class="fa fa-home fa-5x" aria-hidden="true"></i></a></li>
                <li class="nav"><button class="nav" id="myBtn"><i class="fa fa-user-circle fa-5x" aria-hidden="false"></i></button></li>
            </ul>
        </nav>
    </header>

    <!--/Nav-->



    <!--Modal-Login-->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <form action="/action_page.php">
                <div class="iconcontainer">
                    <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
                </div>

                <div class="container">
                    <input class="login-input" type="text" placeholder="Enter Username" name="uname" required>

                    <input class="login-input" id="pass" type="password" placeholder="Enter Password" name="psw" required>

                    <button class="login-button" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <!--/Modal-Login-->






    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style=" background : black; color: white; width: 1348px; height: 300px; margin-left: -105px; margin-bottom: -20px;">
            <div class="footer">
            <h4 class="h4foo">↨TickeTs↨</h4>
            <p style="position: center; margin-left: 560px;">&copy; @DateTime.Now.Year - BY SANTANA HERRERA</p>
            </div>

            <!--MAPA-->

            <div id="map" style="width:200px;height:200px;background:yellow"></div>

            <script>
                function myMap() {
                    var mapCanvas = document.getElementById("map");
                    var mapOptions = {
                      center: new google.maps.LatLng(51.5, -0.2), zoom: 10
                    };
             var map = new google.maps.Map(mapCanvas, mapOptions);
                    }
            </script>

            <script async defer src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=46.414382,10.013988&heading=151.78&pitch=-0.76&key=AIzaSyAis4XB_AsjTG87b7uHk_8w1irBQMiBCic"></script>

            <!--MAPA-->

            <Section class="section-social">
                <div class="socialMedia">
                    <div class="icosocial"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></div>
                    <div class="icosocial"><i class="fa fa-snapchat-square fa-2x" aria-hidden="true"></i></div>
                    <div class="icosocial"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></div>
                    <div class="icosocial"><i class="fa fa-paypal fa-2x" aria-hidden="true"></i></div>
                </div>
            </Section>


        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
